*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;

    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f2f2f2;

    overflow: hidden;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    min-height: 490px;
    max-width: auto;
    width: 350px;

    background: rgba(20, 40, 40, 0.6);
    backdrop-filter: blur(16px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;  
}

/* .form{
    margin-bottom: 5px;
} */

.location-input{
    width: 250px;
    height: 35px;
    padding: 7.5px;

    font-size: 0.95rem;
    color: #f2f2f2;

    background: none;
    border: 1px solid rgba(255,255,255,0.15);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;



    transition: 250ms all;
}

.location-input:focus{
    /* border: none; */
    outline: none;
}

.search{
    height: 100%;
    padding: 0 5px;
    border: 1px solid rgba(255,255,255,0.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: none;
    color: #bebebe;
}
.search:hover{
    cursor: pointer;
}


.city-name {
    padding: 10px;
}
.city{
    font-size: 24px;
    font-weight: medium;
}

.main-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.date-time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.date-font{
    font-size: 14px;
    font-weight: 500;
}
.temp-icon{
    gap: 5px;
}
.temp-font{
    font-size: 64px;
}
.degrees, .temp-system{
    font-size: 20px;
    opacity: 60%;
}
.description{
    width: 100%;
}
.description-font{
    font-size: 18px;
    font-weight: regular;
}
.additional-info{
    padding: 20px 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'humidity precipitation'
    'wind-speed snow-level'
    ;
    row-gap: 15px;
    column-gap: 20px;
}

.stats-card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'icon-image percentage'
    'title title'
    ;
    padding: 15px 20px;
    background: rgba(20, 40, 40, 0.6);
    backdrop-filter: blur(16px);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;  
}
.stats-card:hover{
    cursor: pointer;
}
.icon{
    grid-area: icon-image;
}
.value{
    grid-area: percentage;
}
.title{
    grid-area: title;
}
.additional-info-font{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.humidity{
    grid-area: humidity;
}
.precipitation{
    grid-area: precipitation;
}
.wind-speed{
    grid-area: wind-speed;
}
.snow {
    grid-area: snow-level;
}
/* toggle button styles */

.toggle-input{
    display: none;
}
.toggle-button{
    width: 100px;
    display: flex;
}
.toggle-background{
    width: 200px;
    height: 50px;
    background: none;
    border: 1px solid #939393;
    border-radius: 30px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}
.toggle-background:hover{
    cursor: pointer;
}
.switch-label{
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.switch-label-c {
    left: 25%;
}
.switch-label-f {
    left: 75%;
}
.toggle-switch{
    height: 40px;
    width: 40px;
    background: gray;
    border: none;
    border-radius: 50%;
    transition: 300ms all;
}
.toggle-input:checked ~ .toggle-switch {
    transform: translateX(calc(50px));
}